body {
    padding-top: 50px;
}

.content-container {
    margin-top: 20px;
}

.toolbar {
    padding: 15px;
    border-radius: 5px;
    background-color: #e7e7e7;
    width: 100%;
}
.toolbar input {
    width: 100px;
}

#game_grid {
    padding: 1px 0 0 1px;
    border: 5px solid black;
    background-color: black;
}

#game_grid button{
    display: block;
    width: 40px;
    height: 40px;
    padding: 0 2px 2px;
    margin: 0 1px 1px 0;
    background-color: white;
    color: black;
    font-size: 30px;
    text-align: center;
    line-height: 0;
}
